<h1 class="title">{{ title }}</h1>

<div class="container">
    <div #dotRef class="dot" *ngFor="let dot of dots" (mouseenter)="addColor(dotRef)"></div>
</div>

<div class="result">
    <h1 *ngIf="!gameStarted">Enter the board to start the game</h1>
    <h1 *ngIf="gameStarted && !gameEnded">{{ counter }} second remaining</h1>
    <h1 *ngIf="gameStarted && gameEnded">
        <span *ngIf="cleanDots == 0"> Congratulations! you won. </span>
        <span *ngIf="cleanDots != 0">Oops! You missed by {{ cleanDots }} circle</span>
    </h1>
</div>